@import '../../variables.scss';

.Side-Nav-List {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;

  .active-indicator {
    position: absolute;
    left: -5px;
    top: 0;
    pointer-events: none;
    font-size: 17px;
    transform: translateX(-100%);
    transition: .2s;
  }

  li {
    font-size: 17px;
    font-weight: $semiBoldFontWeight;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: rgba($white, .3);
      transition: .1s;

      &:hover, &.selected {
        color: $white;
      }
    }
  }
}