@import '../variables.scss';

.Admin-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  box-sizing: border-box;

  .side-container {
    flex: 1;

    .Side-Nav-List {

      li {
        margin: 0;
        a {
          width: 100%;
          display: flex;
          box-shadow: 0 1px 0 mix($black, $gray, 90%);
          padding: 15px 0;
          box-sizing: border-box;
          font-weight: $mediumFontWeight;

          &.selected {
            background-color: mix($black, $gray, 90%);
            box-shadow: none;
            padding: 15px 10px;
          }
        }
      }
    }
  }

  .admin-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .user-details {
      display: flex;
      flex-direction: column;

      .logged-in-msg {
        font-size: 14px;
        font-weight: $semiBoldFontWeight;
        color: $gray;
      }

      .user-name {
        font-size: 17px;
        font-weight: $boldFontWeight;
        display: flex;
        align-items: center;

        .btn {
          color: $red;
          font-size: 20px;
        }
      }
    }

    .btn {
      align-self: flex-end;
    }
  }

  .admin-horizontal-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba($gray, .1);

    li {
      a {
        display: flex;
        padding: 5px 10px;
        box-sizing: border-box;
        color: $gray;
        text-decoration: none;
        font-size: 18px;
        font-weight: $semiBoldFontWeight;
        transition: .2s;

        &:hover, &.selected {
          color: $white;
        }
      }
    }
  }

  .Admin-inner-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    .headline-btn {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .main-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      box-sizing: border-box;
    }
  }
}

.Admin-editor {
  display: flex;
  flex-direction: column;

  > h1 {
    margin-bottom: 10px;
  }

  > .language-select-nav {
    margin-bottom: 20px;
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .form-group {
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: rgba($gray, .05);
    }

    > .btns-container {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: rgba($gray, .05);

      .btn {
        font-size: 17px;
        font-weight: $semiBoldFontWeight;
      }

      .empty.btn {
        color: $gray;

        &:hover {
          color: $white;
        }
      }
    }
  }
}