@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.no-select {
  user-select: none;
}

a {
  color: $purple;
}

body {
  background: $black !important;
  color: $white;
  margin: 0; padding: 0;
  font-family: $mainFont;
  width: 100%;
  height: 100vh;
  display: flex;

  #app {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

h1 {
  font-size: 30px;
  font-weight: $boldFontWeight;
}

::-webkit-scrollbar {
  background: darken($black, .9);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: mix($gray, $black, 5%);
}

::selection {
  background-color: $purple;
  color: $white;
}

.main-wrap {
  position: relative;
  display: flex;
  width: 1440px;
  max-width: calc(100% - 40px);
}

.form-group {
  display: flex;
  flex-direction: column;

  .form-group-label {
    display: flex;
    flex-direction: column;

    label {
      font-size: 17px;
      font-weight: $semiBoldFontWeight;
      line-height: 1.2;
    }

    > span {
      font-size: 15px;
      font-weight: $mediumFontWeight;
      color: $gray;
    }
  }

  .form-group-input {
    display: flex;
    position: relative;
    align-items: center;

    input {
      margin-top: 10px;
      width: 100%;

      &.isPassword {
        padding-right: 50px;
      }
    }

    i {
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 10px; right: 0;
      height: calc(100% - 10px);
      width: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      font-weight: $boldFontWeight;
      transition: .1s;

      &:hover {
        opacity: .7;
      }
    }
  }

  .form-group-error {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $red;
    font-size: 14px;
    font-weight: $semiBoldFontWeight;
    margin-top: 5px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

input {
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-family: $mainFont;
  font-size: 16px;
  font-weight: $semiBoldFontWeight;
  color: $black;
  border-radius: 10px;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    outline : none;
    box-shadow: 0 0 0 2px $purple;
  }
}

.btns-container {
  display: flex;
  align-items: center;

  .btn {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .btn-sep {
    margin-right: 5px;
    font-size: 18px;
    font-weight: $mediumFontWeight;
    color: $gray;
  }
}

.btn {
  @extend .no-select;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: $semiBoldFontWeight;
  color: $black;
  background-color: $white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: .2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $purple;
  }

  &:hover {
    box-shadow: 0 0 20px -5px $white;
  }

  &.empty {
    background: none;
    color: $white;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 0px 0px $white;
    }
  }
}