@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;

  word-break: break-word;
}

.no-select {
  user-select: none;
}

a {
  color: $white;
  text-decoration-color: $purple;
  text-decoration-thickness: 2px;
}

body {
  background: $black !important;
  color: $white;
  margin: 0; padding: 0;
  font-family: $mainFont;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;

  #app {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    position: fixed;
  }
}

h1 {
  font-size: 30px;
  font-weight: $boldFontWeight;
}

::-webkit-scrollbar {
  background: darken($black, .9);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: mix($gray, $black, 5%);
}

::selection {
  background-color: $purple;
  color: $white;
}

.main-wrap {
  position: relative;
  display: flex;
  width: 1440px;
  max-width: calc(100% - 100px);
}

.main-wrap-2-col {
  @extend .main-wrap;
  flex-direction: row;

  .main-wrap-col {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      width: 420px;
      margin-right: 50px;

      .main-logo {
        text-decoration: none;
        font-size: 50px;
        margin-bottom: 20px;
        align-self: flex-start;
      }

      h1 {
        max-width: 450px;
        word-break: break-all;
        margin-bottom: 20px;
      }

      .side-container {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 20px;
          font-weight: $boldFontWeight;
          color: $gray;
          margin-bottom: 10px;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &:nth-child(2) {
      flex: 1;
    }
  }

  &.with-sep {


    .main-wrap-col {

      &:nth-child(1) {
        position: relative;

        &:after {
          content : '';
          position: absolute;
          top: 50%;
          right: -25px;
          height: 100vh;
          width: 1px;
          transform: translateY(-50%);
          background-color: rgba($gray, .2);
        }
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  .form-group-label {
    display: flex;
    flex-direction: column;

    label {
      font-size: 17px;
      font-weight: $semiBoldFontWeight;
      line-height: 1.2;
    }
  }

  .description {
    font-size: 15px;
    font-weight: $mediumFontWeight;
    color: $gray;
  }

  .form-group-input {
    display: flex;
    position: relative;
    align-items: center;

    input, textarea {
      margin-top: 10px;
      width: 100%;

      &.isPassword {
        padding-right: 50px;
      }
    }

    i {
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 10px; right: 0;
      height: calc(100% - 10px);
      width: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      font-weight: $boldFontWeight;
      transition: .1s;

      &:hover {
        opacity: .7;
      }
    }
  }

  .form-group-error {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $red;
    font-size: 14px;
    font-weight: $semiBoldFontWeight;
    margin-top: 5px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &.toggle-form-group {

    .description {
      margin-top: 2px;
    }

    label {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      > span {
        font-size: 17px;
        font-weight: $semiBoldFontWeight;
        line-height: 1.2;
      }

      .fake-toggle {
        position: relative;
        width: 40px;
        height: 10px;
        border-radius: 10px;
        background-color: mix($black, $gray, 80%);
        padding: 5px 0;
        box-sizing: border-box;
        transition: .2s;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 20px; width: 20px;
          background-color: $gray;
          border-radius: 100%;
          left: 0;
          transition: .2s;
        }
      }

      input {
        position: absolute;
        opacity: 0;

        &:focus {
          + .fake-toggle {
            background-color: mix($black, $gray, 60%);
          }
        }

        &:checked {
          + .fake-toggle {

            &:after {
              background-color: $white;
              left: 20px;
            }
          }
        }
      }

      &:hover {

        .fake-switch {

          &:after {
            background-color: lighten($gray, 10%);
          }
        }

      }
    }
  }

  .dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 5px;

    .dropdown-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: $semiBoldFontWeight;
      background-color: mix($black, $gray, 80%);
      transition: background-color .2s;
      border-radius: 10px;

      i {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
      }
    }

    .dropdown-options {
      position: absolute;
      left: 0; bottom: 0;
      transform: translateY(100%);
      background-color: rgba(mix($black, $gray, 85%), .96);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;

      li {
        padding: 10px;
        box-sizing: border-box;
        transition: .2s;
        font-size: 16px;
        font-weight: $mediumFontWeight;
        color: $gray;

        &.selected, &:hover {
          background-color: rgba($gray, .05);
          color: $white;
        }
      }
    }

    &:hover, &.active {
      .dropdown-header {
        background-color: mix($black, $gray, 85%);
      }
    }

    &.active {

      .dropdown-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

input, textarea {
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-family: $mainFont;
  font-size: 16px;
  font-weight: $semiBoldFontWeight;
  color: $black;
  border-radius: 10px;

  &[type=search] {
    -webkit-appearance: none;
  }

  &::placeholder {
    color: $gray;
  }

  &:focus {
    outline : none;
    box-shadow: 0 0 0 2px $purple;
  }

  &.dark {
    background-color: rgba($gray, .05);
    color: $gray;

    &:focus {
      box-shadow: 0 0 0 2px rgba($gray, .2);
    }
  }
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 90px;
}

.btns-container {
  display: flex;
  align-items: center;

  .btn {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .btn-sep {
    margin-right: 5px;
    font-size: 18px;
    font-weight: $mediumFontWeight;
    color: $gray;
  }
}

.btn {
  @extend .no-select;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.1;
  font-weight: $semiBoldFontWeight;
  color: $white;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($gray, .2);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: .2s;

  &.with-icon {
    i {
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
    }
  }

  &.is-disabled {
    pointer-events: none;
    opacity: .3;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $purple;
  }

  &:hover {
    background-color: rgba($gray, .3);
  }

  &.primary {
    color: $black;
    background-color: $white;

    &:hover {
      box-shadow: 0 0 20px -5px $white;
    }
  }

  &.empty {
    background: none;
    color: $white;
    padding: 5px 10px;
    text-decoration: none;
  }
}