$mainFont : 'Poppins', sans-serif;

$lightFontWeight : 300;
$regularFontWeight : 400;
$mediumFontWeight : 500;
$semiBoldFontWeight : 600;
$boldFontWeight : 700;
$extraBoldFontWeight : 800;
$blackFontWeight : 900;

$black : #040404;
$white : #F9F9F9;
$purple : #7035b2;
$gray : mix($black, $white, 50%);
$red : #D53733;