$mainFont : 'Poppins', sans-serif;

$lightFontWeight : 300;
$regularFontWeight : 400;
$mediumFontWeight : 500;
$semiBoldFontWeight : 600;
$boldFontWeight : 700;
$extraBoldFontWeight : 800;
$blackFontWeight : 900;

$black : black;
$white : white;
$purple : #7035b2;
$gray : rgba($white, .5);